<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://localhost;databaseName=Test;instanceName=SQLEXPRESS2019</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">password_123</property>
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<mapping class="com.citiustech.Question" />
		<mapping class="com.citiustech.Answer" />
	</session-factory>
</hibernate-configuration>